.cuerpo {
    font-family: helvetica, arial, 'lucida grande', sans-serif;
}

.post {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    padding: 20px;
}




.titulo{
    display: block;
    text-align: left;
}


.subtitulo{
    display: block;
}
.date{
    color: #a83929;
}
.logo-cuenta {
    float: left;
    position: relative;
}

.textos-cuenta {
    display: inline-block;
    text-align: left;
    margin-left: 5px;
}

.logo {
    width: 40px;
    height: 40px;
}
.post h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: bold;
}

.cabecera {
    margin-bottom: 10px;
}
p {
  margin: 0 0 10px !important;
}

img {
    border: 0;
    max-width: 100%;
     height: auto;
}

.Collage{

    /*This is where you set the padding you want between the images*/
    padding:10px;

}
.Collage img{
    margin:0;
    padding:0;
    display:inline-block;
    vertical-align:bottom;
    opacity:1;
    /*This is where you set the border you want for the image*/
    border:6px solid #FFF;
}


/* Larger than mobile */
@media (min-width: 300px) {

   .grid-item {
        margin-bottom: 20px;
        width: 300px;
        height: auto;
    }
}

/* Larger than mobile */
@media (min-width: 400px) {

   .grid-item {
        margin-bottom: 20px;
        width: 400px;
        height: auto;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

    .grid-item {
        margin-bottom: 20px;
        width: 500px;
        height: auto;
    }
}