<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<html lang="en">
<!--<![endif]-->
<head>

<!-- Basic Page Needs -->
<meta charset="utf-8" />
<title>Cronograma Virtual Labs</title>
<meta name="description" content="" />
<meta name="author" content="" />

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" />
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" />
{% block addimport %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
    {% block body %}
    {% endblock %}
<!-- OTHER JS -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</body>
</html>