{% extends 'base.html' %}
{% block bodyclass %}cuerpo{% endblock %}
{% load thumbnail %}
{% block addimport %}

{% endblock %}

{% block body %}
    {% for food in foods %}

            <h2>{{ food.name }}</h2>
            {% if food.image %}
                <img src="{{ food.image.url }}" style="width: 300px;">
            {% endif %}
            <lu>
                {% for ingre in food.ingredient_set.all %}
                    <li>{{ ingre.quantity }} ({{ ingre.unit }}) {{ ingre.name }} - ({{ ingre.ingredient_name }})</li>
                {% endfor %}
            </lu>

    {% endfor %}

{% endblock %}