<html>
<head>
    <title>PairCounting</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<center>
<body>
{% if ingredient_list %}
   <h1>Ingredientes</h1>
     <p class="bg-info">Seleccione un par de ingredientes para ver en cuantas comidas aparecen juntos.
     o para obtener todos los pares haga click</p> 
    <input type="submit" class="btn btn-primary" value="Todos los pares" onclick="window.location='{% url 'fullpair' %}';" />
     <hr>
     <form action="{% url 'singlepair' %}" method="get">
      <div class="row">
        <div class="col-sm-4">
           <select class="form-control" id="ingredient1" name="ingredient1">
           {% for ingredient in ingredient_list %}
              <option value="{{ingredient.id}}">{{ingredient.name}}</option>
           {% endfor %}
           </select>
        </div>
        <div class="col-sm-4">
           <select class="form-control" id="ingredient2" name="ingredient2">
           {% for ingredient in ingredient_list %}
              <option value="{{ingredient.id}}">{{ingredient.name}}</option>
           {% endfor %}
           </select>
        </div>
        <div class="col-sm-4">
          <input type="submit" value="Contar" class="btn btn-primary" />
        </div>
      </div>
     </form>
{% else %}
    <p class="bg-warning">No hay Ingredientes para contar pares.</p>
{% endif %}
</body>
</center>
</html>
